<launch>
    <param name="use_sim_time" value="false"/>
    
    <!-- Start teleop -->
    //<node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="my_teleop_node" output="screen"></node>

    <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot_description)/urdf/my_robot.urdf.xacro'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <!-- Run navigate node -->
    <node pkg="turtlebot2_project2" type="navigate" name="navigate" output="screen"/>
</launch>